---

---

<footer>
    <h2>Footer component</h2>
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/"> Astro on Netlify </a>
    </p>
</footer>

<style>
    footer {
        height: 15%;
        width: 100%;
        background-color: lightgray;
    }
</style>
